/* // 路由导航栏
import style from './index.css'

const Header = () => {
  return (
    <header className={style.header}>
      <nav>
        <ul className={style.navList}>
          <li className={style.navItem}>
            <Link to="/">Home</Link>
          </li>
          <li className={style.navItem}>
            <Link to="/movies">Movies</Link>
          </li>
        </ul>
      </nav>
    </header>
  )
}

export default Header */


.header {
  background-color: #333;
  padding: 10px 20px;
}
.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.navItem a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.navItem a:hover {
  text-decoration: underline;
}
